p {
    line-height: 1.4;
}

article h1 {
    margin-bottom: 10px;
}

time, .blog-date {
    color: #646261;
    font-style: italic;
    font-size: 16px;
    display: block;
    text-align: right;
}

blockquote {
    margin: 18px 0;
    border-left: 4px solid black;
    padding: 10px 5px 10px 10px;
    background-color: #ededed;
}

blockquote h3 {
    margin-top: 0;
}

.source {
    margin-bottom: 0;
}

.random-thought {
    border-top: 1px solid rgb(245, 245, 245);
    padding: 20px 0;
}

.random-thought h2 {
    color: #2B2B2B;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

.random-thought p {
    margin-bottom: 0;
    font-size: 16px;
    color: #423F3E;
} 

.random-thought ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

.note {
    font-size: 16px;
    color: #423F3E;
}