* {
    box-sizing: border-box;
}

header {
    background-color: #2B2B2B;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 600;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
}

header ul li a:hover {
    background-color: #646261;
}

body {
    padding: 0 10px;
    font-size: 18px;
    font-family: system-ui;
    width: min(100%, 750px);
    margin: 10px auto;
}

article, main {
    padding: 0 10px;
}