* {
    box-sizing: border-box;
}

body {
    padding: 0 10px;
    font-size: 18px;
    font-family: 'Lexend';
    font-weight: 300;
    width: min(100%, 750px);
    margin: 10px auto;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

.home-page-h3 {
    font-weight: 600;
}

.home-page-h4 {
    font-weight: 500;
}

header {
    background-color: #2B2B2B;
    color: white;
    padding: 10px 6px;
    border-radius: 6px;
    margin-bottom: 16px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 600;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
}

header ul li a:hover {
    background-color: #646261;
}

article, main {
    padding: 0 10px;
}

.blog-list, .html-css-projects {
    margin: 0;
    padding: 0;
}

.blog-list p, .html-css-projects p {
    margin: 0;
}

.blog-list li, .html-css-projects li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.blog-title, .project-title {
    flex-grow: 1;
}

.blog-list li a, .html-css-projects li a, .learning-title a{
    text-decoration: none;
    color: #2B2B2B;
}