* {
    box-sizing: border-box;
}

body {
    padding: 0 10px;
    font-size: 18px;
    font-family: system-ui;
    width: min(100%, 750px);
    margin: 10px auto;
}

article, main {
    padding: 0 10px;
}

p {
    line-height: 1.4;
}

article h1 {
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5em;
}

time, .blog-date {
    color: #646261;
    font-style: italic;
    font-size: 16px;
    display: block;
    text-align: right;
}

header {
    background-color: #2B2B2B;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 600;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
}

header ul li a:hover {
    background-color: #646261;
}

blockquote {
    margin: 18px 0;
    border-left: 4px solid black;
    padding: 10px 5px 10px 10px;
    background-color: #ededed;
}

blockquote h3 {
    margin-top: 0;
}

.source {
    margin-bottom: 0;
}

.blog-list {
    margin: 0;
    padding: 0;
}

.blog-list p {
    margin: 0;
}

.blog-list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.blog-list li a{
    text-decoration: none;
    color: #2B2B2B;
}