* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main {
    border: 1px solid slategray;
    border-radius: 10px;
    padding: 20px;
}

.contact {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.about {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: slategray;
}

.name-contact {
    flex-grow: 1;
    flex-basis: 500px;
}

.photo img {
    flex-grow: 1;
    flex-basis: 30%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.education dt, .work-experience dt, .projects dt {
    font-weight: bold;
}

.education, .work-experience, .projects {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: slategray;
}